*{
    margin:0;
    padding: 0;
}

.title {
    color: #6F4E37;
    margin-top: 30px;
}

/* Buttons */
.buttons {
    margin: 20px;
}

.buttons button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background-color: #6F4E37;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

body {
    background: #f2f2f2;
}

/* GALLERY GRID */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 images per row */
    gap: 40px;
    padding: 50px;
    justify-items: center;
}

/* CARD DESIGN */
.card {
    width: 300px;
    height: 350px;   /* Proper height like 2nd pic */
    border: 2px solid #8B0000;
    overflow: hidden;
    background: white;
}

/* IMAGE FITTING */
.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;   /* THIS IS THE MAGIC LINE */
}

.container .gallery{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    
}
/* Services */
.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.service-card {
    width: 250px;
    margin: 15px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}