*{
    margin:0;
    padding: 0;
}
/* .landing{
    background: linear-gradient(to bottom, black, maroon);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    text-decoration: none;
    padding: 50px;  
    font-size: large;
    color: goldenrod; 
    font-weight: bolder;
    border: none;
    margin: 20px;
}
.nav ul li {
    border: none;
    outline: none;
}
.nav-btn:hover {
    color: rgb(8, 109, 7);
} */

.header {
    width: 100%;
    background: linear-gradient(to bottom, black, maroon);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    color: goldenrod;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    margin: 0;
}

.nav-btn {
    color: black !important;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}

.nav-btn:hover {
    color: green !important;
}


.title {
    color: #6F4E37;
    margin-top: 30px;
}

/* Buttons */
.buttons {
    margin: 20px;
}

.buttons button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background-color: #6F4E37;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

body {
    background: #f2f2f2;
}

/* GALLERY GRID */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 images per row */
    gap: 40px;
    padding: 50px;
    justify-items: center;
}

/* CARD DESIGN */
.card {
    width: 300px;
    height: 350px;   /* Proper height like 2nd pic */
    border: 2px solid #8B0000;
    overflow: hidden;
    background: white;
}

/* IMAGE FITTING */
.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;   /* THIS IS THE MAGIC LINE */
}

.container .gallery{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    
}
/* Services */
.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.service-card {
    width: 250px;
    margin: 15px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}
 .footer-bar {
  border-top: 3px solid maroon;
  padding: 15px 30px;
  ;
}

.footer-flex {
  display: flex;
   background: linear-gradient(to top, black, maroon);
   justify-content:space-between;/* icons left, text right */

  align-items: center;
}

.footer-text {
    color:goldenrod;
  margin: 50px;
  padding-right: 20px;
  font-weight: 500;
}

.social-icons a {
  color: goldenrod;
  font-size: 18px;
  margin-right: 12px;
  text-decoration: none;
}
.col-md-3 p a{
    text-decoration: none;  
    color:silver ;
}
.col-md-3 a:hover {
    color: rgb(168, 176, 16);
}

label{
    color: maroon;
}
.bg-maroon {
    background-color: maroon;
}