<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="aash.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='aash.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    
        <section class="hero-section">
    <div class="container-fluid hero-wrapper">

        <!-- Carousel -->
        <div class="carousel-box">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ url_for('static', filename='Images/Mehandi.jpg') }}" class="d-block w-100" alt="">
                        <!-- <img src="./Images/Mehandi.jpg" class="d-block w-100" alt=""> -->
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ url_for('static', filename='Images/Mehandi5.png') }}" class="d-block w-100" alt="">
                        <!-- <img src="./Images/Mehandi5.png" class="d-block w-100" alt=""> -->
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='Images/Mehandi4.png') }}" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='Images/leg.png') }}" class="d-block w-100" alt="">
                        
                    </div>
                </div>

                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

        <!-- Text Content -->
        <div class="hero-text">
            <p>
                The art of mehndi is a way to express <br>
                beauty and complexity of love
            </p>

            <div class="btn-group-custom">
                <a href="book.html" class="custom-btn">PROCEED BOOKING</a>
                <a href="design.html" class="custom-btn">VIEW DESIGNS</a>
            </div>
        </div>

    </div>
</section>

<br><br>
<hr>
<br><br><br>

<section>
    <div class="container welcome-section">
        <h1 class="text-center">Welcome</h1>
        <p class="welcome-text">
            Welcome to our Mehandi art world, where tradition meets creativity and every design tells a story.
            We specialize in crafting elegant, intricate, and expressive Mehandi patterns that add beauty to your
            special moments. Whether it’s for weddings, festivals, parties, or casual celebrations, our unique
            designs bring charm, grace, and a touch of cultural magic. Explore our collection and let us make
            your hands and feet bloom with stunning Mehandi artistry.
        </p>
    </div>
</section>

<hr>

<h2 class="title text-center">Our Mehndi Services</h2><br><br>

<div class="container">
    <div class="row g-4">

        <div class="col-md-4">
            <div class="card h-100 text-center">
                
                <img src="{{ url_for('static', filename='Images/hennapowder.png.png') }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h3>Henna Powder</h3>
                    <p>The mehndi mixture is made from a ground paste or powder from the leaves of the henna plant.
                        While henna can refer to the plant itself, mehndi almost always refers to the finished product
                        of henna powder is used even for the art.</p>
                    <a href="https://hennahubstore.com/" class="btn btn-dark">View Product</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='Images/eucalyptus.png.png') }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h3>Eucalyptus Oil</h3>
                    <p>Hennahub Pure Eucalyptus Essential Oil is extracted through advanced steam distillation from freshly
                        harvested eucalyptus leaves. Known for its strong, natural healing power, muscle pain, and enhances
                        henna color depth.</p>
                    <a href="https://hennahubstore.com/" class="btn btn-dark">View Product</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='Images/teatreeoil.png') }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h3>Tree Tree Oil</h3>
                    <p>Tea tree oil is a popular addition to mehndi (henna) paste to achieve a darker, richer stain by
                        releasing more dye, improving paste consistency for smoother application with fine lines, soothing
                        skin and that traps heat for deep color.</p>
                    <a href="https://hennahubstore.com/" class="btn btn-dark">View Product</a>
                </div>
            </div>
        </div>

    </div>
</div>

<br><br>

        <footer>
            <div class="about">
                <h3>Mehandi</h3><br>
                <p style="font-size: 900;">Beautiful, natural Mehandi <br>for brides, festivals,<br> and unforgettable
                    moments.</p>
            </div>
            <div class="links">
                <h3>Site Links</h3><br>
                <ul style="list-style-type: none;">
                    <li><a href="aashi.html">Home</a></li>
                    <li><a href="design.html">Designs</a></li>
                    <li><a href="customized.html">Customized</a></li>
                </ul>
            </div>
            <div class="help">
                <h3>Informations & Help</h3><br>
                <ul style="list-style-type: none;">
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="terms.html">Terms&Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="discovery">
                <h3>Discover</h3><br>
                <ul style="list-style-type: none;">
                    <li><a href="discover.html">Latest</a></li>
                    <li><a href="discover.html">Popular</a></li>
                    <li><a href="discover.html">Trending</a></li>
                </ul>
            </div>
        </footer>
        <hr>
        <footer class="footer-bar">
            <div class="footer-content">
                <p class="footer-text">
                    Copyright © 2025 Palm Glow.
                </p>
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/aashi_kopula/"><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61570065820060"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>
        </footer>
    </section>
    <script src="bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>