<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
    <!-- <link rel="stylesheet" href="bootstrap-5.3.8-dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="aashiga1.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='aashiga1.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <header class="header">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center py-3">

            <!-- Logo -->
            <h1 class="logo">
            <a href="index.html">
               <i class="fa-brands fa-sketch"></i> Palm Glow
            </a>
            </h1>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="index.html">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="design.html">
                                <i class="fa-solid fa-bezier-curve"></i> Designs
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="about.html">
                                <i class="fa-solid fa-circle-info"></i> About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="contact.html">
                                <i class="fa-solid fa-user"></i> Contact
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>

   <!-- <div class="container text-center my-4">
  <div class="btn-group flex-wrap">
    <button class="btn btn-warning m-1">Bridal</button>
    <button class="btn btn-warning m-1">Arabic</button>
    <button class="btn btn-warning m-1">Traditional</button>
    <button class="btn btn-warning m-1">Indo-Arabic</button>
    <button class="btn btn-dark m-1">All</button>
  </div>
</div> -->
<div class="container text-center my-4">
  <div class="btn-group flex-wrap">

    <button class="btn btn-warning m-1" onclick="filterDesign('all')">
      All
    </button>

    <button class="btn btn-outline-warning m-1" onclick="filterDesign('bridal')">
      Bridal
    </button>

    <button class="btn btn-outline-warning m-1" onclick="filterDesign('arabic')">
      Arabic
    </button>

    <button class="btn btn-outline-warning m-1" onclick="filterDesign('traditional')">
      Traditional
    </button>

    <button class="btn btn-outline-warning m-1" onclick="filterDesign('indo')">
      Indo-Arabic
    </button>

  </div>
</div>


<div class="container my-4">
  <div class="row g-3">

    <!-- Bridal -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card bridal">
        <img src="./Images/bridal1.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card bridal">
        <img src="./Images/bridal2.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card bridal">
        <img src="./Images/bridal4.png.png" class="card-img-top">
      </div>
    </div>

    <!-- Arabic -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card arabic">
        <img src="./Images/arabic1.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card arabic">
        <img src="./Images/arabic3.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card arabic">
        <img src="./Images/arabic4.png.png" class="card-img-top">
      </div>
    </div>

    <!-- Traditional -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card traditional">
        <img src="./Images/traditional1.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card traditional">
        <img src="./Images/traditional2.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card traditional">
        <img src="./Images/traditional4.png.png" class="card-img-top">
      </div>
    </div>

    <!-- Indo-Arabic -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card indo">
        <img src="./Images/indo-arabic.png.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card indo">
        <img src="./Images/indo-arabic3.png" class="card-img-top">
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card design-card indo">
        <img src="./Images/indo-arabic4.png" class="card-img-top">
      </div>
    </div>

  </div>
</div>

<!-- 
<div class="container">
  <div class="row g-3">
Bridal --
    Card 1 --
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bridal">
        <img src="./Images/bridal1.png.png">
    </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bridal">
        <img src="./Images/bridal2.png.png">
    </div>    
    </div>    


    <div class="card bridal">
        <img src="./Images/bridal4.png.png">
    </div>
    </div>
</div>

<div class="gallery">
     Arabic -
    <div class="card arabic">
        <img src="./Images/arabic1.png.png">
    </div>
    </div>

    <div class="card arabic">
        <img src="./Images/arabic3.png.png">
    </div>

    <div class="card arabic">
        <img src="./Images/arabic4.png.png">
    </div>
    </div>
</div>

    <!-- Traditional --
     <div class="gallery">
    <div class="card traditional">
        <img src="./Images/traditional1.png.png">
    </div>

    <div class="card traditional">
        <img src="./Images/traditional2.png.png">
    </div>

    <div class="card traditional">
        <img src="./Images/traditional4.png.png">
    </div>
</div>

    <!-- Indo-Arabic --
     <div class="gallery">
    <div class="card indo">
        <img src="./Images/indo-arabic.png.png">
    </div>

    <div class="card indo">
        <img src="./Images/indo-arabic3.png">
    </div>

    <div class="card indo">
        <img src="./Images/indo-arabic4.png">
    </div>
    </div>
</div><br> -->

<!-- <h1 class="title" style="color: #6F4E37;margin-top: 30px;text-align: center;">Our Services & Pricing 💰</h1>
<div class="services">
    <div class="service-card">
        <h2>Bridal Mehendi</h2>
        <p>Full hand & leg detailed design</p>
        <h3>₹5000</h3>
    </div>

    <div class="service-card">
        <h2>Arabic Mehendi</h2>
        <p>Elegant floral flowing patterns</p>
        <h3>₹2000</h3>
    </div>

    <div class="service-card">
        <h2>Traditional Mehendi</h2>
        <p>Classic Indian detailed patterns</p>
        <h3>₹1500</h3>
    </div>

    <div class="service-card">
        <h2>Indo-Arabic Mehendi</h2>
        <p>Mix of Arabic flow & Indian detailing</p>
        <h3>₹2500</h3>
    </div>
</div> -->

    <div class="container my-5">
  <h1 class="text-center mb-4" style="color:#6F4E37;">Our Services & Pricing 💰</h1>

  <div class="row g-4">

    <div class="col-12 col-md-6 col-lg-3">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5>Bridal Mehendi</h5>
          <p>Full hand & leg design</p>
          <h4>₹5000</h4>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5>Arabic Mehendi</h5>
          <p>Floral flowing patterns</p>
          <h4>₹2000</h4>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5>Traditional</h5>
          <p>Classic detailed design</p>
          <h4>₹1500</h4>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5>Indo-Arabic</h5>
          <p>Mixed style design</p>
          <h4>₹2500</h4>
        </div>
      </div>
    </div>

  </div>
</div>

    <!-- End Design -->
    <!-- Footer -->
    <footer class="bg-maroon text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <h4 class="text-warning">Mehandi</h4>
                    <p style="font-size: 900;">Beautiful, natural Mehandi <br>for brides, festivals,<br> and
                        unforgettable
                        moments.</p>
                </div>

                <div class="col-md-3">
                    <h4 class="text-warning">Site Links</h4>
                    <p><a href="index.html">Home</a></p>
                    <p><a href="design.html">Designs</a></p>
                    <p><a href="customized.html">Customized</a></p>
                </div>

                <div class="col-md-3">
                    <h4 class="text-warning">Informations & Help</h4>
                    <p><a href="about.html">About</a></p>
                    <p><a href="contact.html">Contact</a></p>
                    <p><a href="terms.html">Terms&Conditions</a></p>
                    <p><a href="privacy.html">Privacy Policy</a></p>
                </div>

                <div class="col-md-3">
                    <h4 class="text-warning">Discover</h4>
                    <p><a href="discover.html">Latest</a></p>
                    <p><a href="discover.html">Popular</a></p>
                    <p><a href="discover.html">Trending</a></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-flex">
        <h6 class="footer-text">
        Copyright © 2025 Palm Glow
      </h6>
      <div class="social-icons">
        <a href="https://www.instagram.com/aashi_mehandi_arts/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/feed/you">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61570065820060">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="script.js"></script> -->
</body>

</html>