<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Discover</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" href="bootstrap-5.3.8-dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">
  <!-- <link rel="stylesheet" href="aashiga.css"> -->
   <link rel="stylesheet" href="{{ url_for('static', filename='aashiga.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
  <!-- Header -->
    <header class="header">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center py-3">

            <!-- Logo -->
            <h1 class="logo">
              <a href="{{ url_for('home') }}">
            <!-- <a href="index.html"> -->
               <i class="fa-brands fa-sketch"></i> Palm Glow
            </a>
            </h1>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="{{ url_for('home') }}">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="{{ url_for('design') }}">
                                <i class="fa-solid fa-bezier-curve"></i> Designs
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="{{ url_for('about') }}">
                                <i class="fa-solid fa-circle-info"></i> About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="{{ url_for('contact') }}">
                                <i class="fa-solid fa-user"></i> Contact
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
  <br><br>
  <!-- End Header -->

  <!-- Latest  -->
  <div class="heading">
    <div class="container ">
      <h1>Latest Designs</h1>
      <div class="latest-img">
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 1.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 2.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 3.png') }}" alt="">
        </div>
      </div>

      <div class="latest-img">
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 4.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 5.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 6.png') }}" alt="">
        </div>
      </div>

      <!-- Popular -->
       <h1>Popular Designs</h1>
      <div class="latest-img">
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular1.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular2.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular3.png') }}" alt="">
        </div>
      </div>
      <div class="latest-img">
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular4.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular5.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular6.png') }}" alt="">
        </div>
      </div>

      <!-- Trending -->
       <h1>Trending Designs</h1>
      <div class="latest-img">
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 1.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 4.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/latest 2.png') }}" alt="">
        </div>
      </div>
      <div class="latest-img">
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular1.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular4.png') }}" alt="">
        </div>
        <div class="latest">
          <img src="{{ url_for('static', filename='Images/popular3.png') }}" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="bg-maroon text-white">
    <div class="container-fluid px-5 py-5">
      <div class="row">
        <div class="col-md-3">
          <h4 class="text-warning">Mehandi</h4>
          <p style="font-size: 900;">Beautiful, natural Mehandi <br>for brides, festivals,<br> and unforgettable
            moments.</p>
        </div>
        <div class="col-md-3">
          <h4 class="text-warning">Site Links</h4>
          <p><a href="{{ url_for('home') }}">Home</a></p>
          <p><a href="{{ url_for('design') }}">Designs</a></p>
          <p><a href="{{ url_for('customized') }}">Customized</a></p>
        </div>

        <div class="col-md-3">
          <h4 class="text-warning">Informations & Help</h4>
          <p><a href="{{ url_for('about') }}">About</a></p>
          <p><a href="{{ url_for('contact') }}">Contact</a></p>
          <p><a href="{{ url_for('terms') }}">Terms&Conditions</a></p>
          <p><a href="{{ url_for('privacy') }}">Privacy Policy</a></p>
        </div>

        <div class="col-md-3">
          <h4 class="text-warning">Discover</h4>
          <p><a href="{{ url_for('discover') }}">Latest</a></p>
          <p><a href="{{ url_for('discover') }}">Popular</a></p>
          <p><a href="{{ url_for('discover') }}">Trending</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
   <div class="footer-flex">
        <h6 class="footer-text">
        Copyright © 2025 Palm Glow
      </h6>
      <div class="social-icons">
        <a href="https://www.instagram.com/aashi_mehandi_arts/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/feed/you">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61570065820060">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>